
###> symfony/framework-bundle ###

###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
#/var
#/vendor
.env

=======
.vendor/
.var/
.idea/
.DS_Store
