{% extends 'base.html.twig' %}

{% block title %}Éditer une image{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <img src="{{ asset('uploads/carousel_like/' ~ image.path) }}" alt="">
        </div>
        <div class="row">
            <div class="col">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block progressbar %}
<script type="text/javascript">
    document.getElementById("media_form_medias").onchange = function() {DisplayFiles(this)};
    function DisplayFiles(file) {
        var FileSize = 0;
        var text = '<div class="container"><div class="row">';
        var col1 = '<div class="col">';
        var col2 = '<div class="col">';
        for(var i = 0;i<file.files.length;i++) {
            FileSize += file.files[i].size/1000000;
            col1 += file.files[i].name + '<br>';
            col2 += (file.files[i].size/1000000).toFixed(2) + ' Mo <br>';
        }
        col1 += '</div>'; col2 += '</div>';
        text += col1 + col2 + '</div></div>' + '<div>' + "Total upload : " + FileSize.toFixed(2) + ' Mo' + '</div>';
        document.getElementById("files").innerHTML = text;
    }
</script>
{% endblock %}

