html, body {
    user-select: none !important;
    height: 100%;
    width: 100%;
}

body {
    background-image: url('../assets/background/parchemin.jpg') !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

/* ################################
   #                              #
   #   BOOSTRAP SURCHARGE STYLE   #
   #                              #
   ################################
 */

.masthead {
    background: none;
}

/* ################################
   #                              #
   # CUSTOM BUTTON LIKE BOOTSTRAP #
   #                              #
   ################################
 */

.btn-braun {
    color: #FFFFFF;
    background-color: #B66B23;
    border-color: #B66B23;
}

/* ################################
   #                              #
   #  GLOBAL WEBSITE STYLESHEET   #
   #                              #
   ################################
 */

.txt-black {
    color: #000000 !important;
}

.bg-lightbraun {
    background: rgba(232,206,143,0.8) !important;
}

.rounded-5 {
    border-radius: 2em;
}

.collapse-btn {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 8px;
    color: #1C1C1C !important;
    padding: 10px !important;
}

.collapse-btn:hover {
    background: #F4F4F4 !important;
}

/* ################################
   #                              #
   # RESPONSIVE STYLE - COMPUTER  #
   #                              #
   ################################
 */

@media screen and (min-width: 1001px) {
    ::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 3px transparent;
        border-radius: 50px;
        background: #010000;
    }

    ::-webkit-scrollbar-thumb {
        background: linear-gradient(#F4B67E,#BE8551);
        border-radius: 10px;
    }

    .row-align-left {
        text-align: left !important;;
    }

    .row-align-right {
        text-align: right !important;;
    }
}

/* ################################
   #                              #
   #  RESPONSIVE STYLE - MOBILE   #
   #                              #
   ################################
 */

@media screen and (max-width: 1000px) {
    .row-align-left {
        text-align: center !important;
    }

    .row-align-right {
        text-align: center !important;;
    }
}