{% extends 'base.html.twig' %}

{% block body %}
    {% include "includes/home/navbar.html.twig" %}
    <header class="d-flex masthead">
        <div class="container my-auto text-center">
            <img src="{{ asset('assets/background/banner2.png') }}" class="w-100 rounded mb-3" draggable="false">
            <a class="btn btn-braun btn-xl js-scroll-trigger" role="button" href="#about">Plus d'infos</a>
            <div class="overlay"></div>
        </div>
    </header>

    <section id="about" class="content-section">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h2 class="text-left" style="color: #484D51">Informations à propos de CEFC</h2>
                    <p class="lead text-justify mb-2 txt-black">
                        La Compagnie Excalibur Franche Comté (CEFC) est une association du type loi 1901, fondée à Belfort en septembre 2000, dont le thème central est l'époque moyenâgeuse. Les objectifs de l'association sont triples, basés sur le sport, l'animation et la culture. Ses membres peuvent :
                    </p>
                    <ul class="text-justify mt-0 lead txt-black">
                        <li>apprendre des techniques de combat médiéval, avec des armes blanches du type épée, bouclier, bâton, ...</li>
                        <li>participer à des animations de fêtes, spectacles, banquets, ...</li>
                        <li>pratiquer divers artisanats et partager des connaissances liés à l'époque médiévale.</li>
                    </ul>
                    <p class="lead text-justify mt-5 mb-2 txt-black">
                        Le côté sportif est celui qui constitue la principale activité des membres de la Compagnie Excalibur Franche Comté (CEFC), en terme de volume horaire. En effet, il y a deux entraînements hebdomadaires, avec échauffement, exercices et pratique libre, comme dans n’importe quel club de sport.
                        <br><br>
                        Le côté animation est assuré par un nombre restreint de membres (cf. trombinoscope) lors de manifestations festives, sous la forme d'ateliers pédagogiques et de démonstrations d'armes.
                        <br><br>
                        Le côté culturel est transversal  aux deux autres, puisqu'il nous sert aussi bien au niveau du combat pour les aspects techniques et matériels, que pour l'animation sur les ateliers pédagogiques.
                    </p>
                    <br>
                    <a class="btn btn-dark btn-xl js-scroll-trigger" role="button" href="#compte">Connexion</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
