<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>{% block title %}CEFC{% endblock %}</title>

        {% include "includes/stylesheets.html.twig" %}
        {% include "includes/fonts.html.twig" %}
    </head>
    <body id="page-top">
        {% block body %}{% endblock %}

        {% include "includes/scripts.html.twig" %}
    </body>
</html>
